@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Courgette&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* video */
.video {
    width: 100%;
    height: 88vh;

}

.gif {
    width: 100%;
    height: 100%;
}

/* circulos */
.colorg {
    background-color: rgb(231, 226, 226);
    min-height: 45vh;
    padding: 20px 0;
}

.forma {
    background-color: transparent;
    margin-bottom: 20px;
}
.bolita {
    background-color: aqua;
    margin-top: 40px;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.tamaño {
    height: 15vh;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fa-user {
    margin-right: 10px;
}

.img-logo {
    margin-right: 150px;
}

.texto {
    color: black;
}

p {
    margin-top: 20px;
}
.citas,
.recomendaciones,
.programas,
.profesionales{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Courgette', cursive;
    color: black;
}
.profesionales:hover,
.programas:hover,
.recomendaciones:hover,
.citas:hover {
    color: rgb(56, 12, 250);
}


/* planes */
.contenedor_planes{
    width: 100%;
    height: 75vh ;
    
    display: flex;
    justify-content: space-around;
    margin-bottom: 10vh;
    margin-top: 10vh;
}   
.planes{
    width: 22.5%;
    height: 92%;
    background-color: #4b8496;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, 0.2);
    
    
}
.planes:hover{
    background-color: #67a1b3;
}
.planes_header{
    width: 95%;
    height:20%;
    background-color: rgb(122, 186, 209);
    display: flex;
    justify-content:center ;
    align-items: center;
    color: rgb(250, 248, 248);
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px 20px 20px 20px;
    margin-left: -4.8vh;
    margin-top: 2vh;
    box-shadow: 6px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-top: solid 1px rgba(39, 42, 43, 0.626) ;
    border-left: solid 1px rgba(39, 42, 43, 0.626) ;
   
}
.title{
    font-family: 'Roboto Slab', serif;
}

.colita_header{
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 13px solid  rgb(24, 99, 110);
    border-bottom: 10px solid transparent;
    margin-left: -11px;

}
.price{
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: 'Merriweather Sans', sans-serif;
}
.contenedor_price{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9%;
    height: 40px;
}
.p-planes{
    color: rgb(255, 255, 255);
    font-size: 18px;
}
.chat_planes{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.margin_X{
    margin-right:10px ;
}
.cursive_font{
    font-family: 'Courgette', cursive;
}
/*Fin Planes*/

.boton {
    background: red;
}

.plan {
    margin-top: 50px;
    text-align: center;
}


.xd {
    margin-bottom: 20px;
    margin-right: 15px;
}



.color1 {
    background-color: rgb(62, 191, 196);
}

.color2 {
    background-color: rgb(180, 178, 178);
}

.color3 {
    background-color: rgb(42, 128, 143);
}

.color4 {
    background-color:rgb(194, 194, 194);
}

.login {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* background-color: #25adec; */
    /* color: #ffffff; */
    border: none;
    border-radius: 4px;
    padding: 2px 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.login img{
    width: 30px;
    height: 30px; 
}
.login:hover {
    background-color: rgba(51, 57, 63, 0.281);
}


.nav {
    z-index: 100;
}


.card{
    border-radius: 5%;
    border: solid 3px black;
}
.transp{
    background-color: transparent;
}
.centrar{
   text-align: center
}


/* Contacto y mapa */

.fondoContacto {
    height: 50vh;
    background-color: rgb(22, 22, 22);
}

.color-blanco {
    color: white;
}

.redes {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 10px;
    padding-top: 10px;
}

.fila{
    margin-left: 15px;
    margin-right: 0px;
}

.tamaños{
    font-size: 45px;
    margin-left: 50px;
}

.titulo{
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 10px;
}
.letra{
    font-family:  'Nanum Gothic', sans-serif;
}

.size{
    width: 75px;
    height: 20vh;
    margin-top: 10px;
    padding-top: 40px;
    margin-bottom: 0;
    padding-bottom: 0;
}


.espacio{
    width: 100%;
    height: 50vh;
}

.ayno{
    margin-right: 0;
    margin-left: 50px;
}


/* profesiones */
.profesiones {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5b5f79;
    height: 98vh;
    font-family: 'Urbanist', sans-serif;
}

.container {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cards {
    position: relative;
    width: 100%;
    max-width: 430px;
    margin-bottom: 640px;
    perspective: 1000px;
    transform-style: preserve-3d;
    align-self: center;
}



a{

    text-decoration: none;
}

input {

    display: none;
}



.cards label {

    position: absolute;
    width: 430px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.55s ease;
}

.cards .card{

    position: relative;
    height: 640px;
    background-color: #323444;
    border-radius: 10px;
    padding: 30px 35px;
}

.card .image{

    display: flex;
    justify-content: space-between;
}

.card .image img{

    border-radius: 14px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
    margin-top: 2px;
    width: 86%;
    height: 220px;
    object-fit: cover;
}

.card .image .dots{

    text-align: center;
}

.dots div{

    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.dots div:nth-child(1){

    background-color: var(--current-color1);
}

.dots div:nth-child(2){

    background-color: #5B85F9;
}

.dots div:nth-child(3){

    background-color: #000;
}

.card .infos{

    display: block;
    text-align: end;
    padding-top: 5px;
}

.infos span{

    display: block;
}

.infos .name{

    font-size: 28px;
    color: rgb(110, 190, 243);
    letter-spacing: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 25%;
    transition: all .6s ease;
}

.infos .lorem{

    font-size: 16px;
    color: #ECEAED;
    letter-spacing: 2px;
}

.card .btn-contact{
    margin-top: 35px;
    width: 100%;
    height: 50px;
    border-radius: 45px;
    background-color: var(--current-color1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 600;
    transition: all .7s ease;
}







#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5 {
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
    transform: translate3d(0, 0, 0);
    --current-color1: #437796;
    --current-color2: #ECEAED;
}

#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

/*ChatBot*/
/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #E3F2FD;
}
.chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgb(103, 160, 174);
  transition: all 0.2s ease;
}
body.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}
.chatbot-toggler span {
  color: #fff;
  position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
  opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot {
  position: fixed;
  right: 35px;
  bottom: 90px;
  width: 420px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
  transition: all 0.1s ease;
}
body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot header {
  padding: 16px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background: #4a7ce8;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}
header h2 {
  font-size: 1.4rem;
}
.chatbot .chatbox {
  overflow-y: auto;
  height: 350px;
  padding: 30px 20px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background:  #4a7ce8;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}
.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.95rem;
  background: #4a94e8;
}
.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
}
.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}
.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
}
.chat-input span {
  align-self: flex-end;
  color: #724ae8;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}

@media (max-width: 490px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }
  .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }
  .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }
}

/*Recomendaciones*/
#recomendaciones{
    text-align: center;
   
}