body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.img-fluid{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.subir{
    padding-top: -130px;
    padding-left: 20px;
}

.cambio{
    text-decoration: none;
}

div > img{
    height: 288px;
    width: 100%;
}
.h2PC{
    font-family: "Raleway-Bold",sans-serif;
    font-size: 34px;
    line-height: 38px;
}
h1 {
    font-family: "Raleway-Bold",sans-serif;
    font-size: 40px;
    line-height: 45px;
    color: #333;
    margin-bottom: 30px;
    display: inline-block;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
}

.container {
    margin-top: 30px;
}

.row {
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos dentro de la fila */
    align-items: center; /* Centra verticalmente los elementos dentro de la fila */
}
.azulP{
    width: 100%;
    font-family: "Raleway-Bold",sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #004eb3;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.h2EA{
    font-family: "Raleway-ExtraBold",sans-serif;
    font-size: 30px;
    line-height: 34px;
    color: #333;
    margin-bottom: 30px;
}
.col-12 {
    padding: 7px;
}

.img {
    text-align: center;
}

.section{
    padding: 30px 80px;
}

.pulsera{
    padding: 30px 35px;
}

.consentimiento{
    padding: 30px 35px;
    margin-bottom: 33px;
}

 /* footer */
 footer {
    background-color: #1E4BAF;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

footer p {
    margin: 10px 0;
}