
.inicio{
    width: 100%;
    height: 60vh;
    display: flex;
    background-image: url("../imágenes/practica2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 5vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius:15% ;
    border-bottom-right-radius: 15%;
}
.parrafo_introduccion{
    width: 50%;
    height: 30%;
    display: flex;
    justify-content: center;
    background-color: rgba(217, 216, 216, 0.883);
    border-radius: 10%;
}
.cuadros_links{
    width: 80%;
    height:30vh ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -20vh;
    margin-left: 10%;
    margin-bottom: 15vh;
    
}
.cuadritos{
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 242, 242);
    border-radius:8% ;
}
.tamaño_icono{
   font-size: 12vh;
}
#h5-traumatología{
    font-size: 18px;
}
.contenedor-1{
    width: 100%;
    display: flex;
}
.fondo{
    width: 20%;
    height: 80%;
    
}
.contenedor{
    width: 50%;
    height: 50%;
  
    display: flex;
    
    
}
.cuadritos a{
    text-decoration: none;
    color: black;
}
.cuadritos a:hover{
    color: rgb(52, 115, 231);
}

.urgenciasGeneral h1, .urgenciasGeneral p, .background-urgencia-pediatrica h2, .background-urgencia-pediatrica p,
 .urgenciasGinecologia h2, .urgenciasGinecologia p, .urgenciasTraumatologia h2, .urgenciasTraumatologia p{
    text-align: center;  
}
p{
    font-family: 'Mooli', sans-serif;
    font-size: 15px;
}
h1{
    font-family: initial;
}
.urgenciasGeneral p{
    font-size: 15px;
}
.urgenciasGeneral a, .background-urgencia-pediatrica a, .urgenciasGinecologia a, .urgenciasTraumatologia a{
    color: rgb(77, 133, 163);
}
.urgencia-pediatrica{
    width: 27%;
    height: 100%;
    background-image: url("../imágenes/recomendacionesUrgenciasPediatricas.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-urgencia-pediatrica{
    background-color: rgba(255, 255, 255, 0.861);
    width: 80%;
    height: 87%;
    border-radius: 20px;
}
.segunda-seccion{
    margin-top: 2vh;
    width: 98%;
    margin: 1% 1%;
    height: 45vh;
    display: flex;
    justify-content: center;
    background-image: url("../imágenes/shutterstock_718097074.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.urgenciasGinecologia{
    
    width: 48%;
    height: 100%;
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.urgenciasTraumatologia{
    width: 48%;
    height: 100%;
   
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
}
.clickeable:hover{
    color: rgb(15, 114, 167);
}
.fondoBlanco{
    background-color: rgba(255, 255, 255, 0.861);
    width: 80%;
    height: 80%;
    border-radius: 20px;
}
.informacion{
    width: 50%;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.info-general{
    width: 100%;
    display: flex;
    
    
}
 .informacion h5, .informacion ul{
    text-align: center;
}
.informacion li{
    font-size: 15px;
}
.tituloGeneral{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    background-image: url("../imágenes/images.jpg");
    color:white ;
    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
}
.estiloVida{
    width: 33%;
    height: 90%;
    color: gray;
}
.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 80vh;
    
}
.imagen img{
    width: 80%;
    
}
#urgenciasGenerales,
#urgenciasPediatricas,
#urgenciasObstetricia,#urgenciasTraumatologia {
  scroll-margin-top: 100px; 
}

.fondoContacto {
    background-color: rgb(36, 36, 36);
    padding-bottom: 15px;
}

input, textarea, select{
    border-radius: 4px;
}
.color-blanco {
    color: white;
}

.nombre {
    background-color: #1877F2;
    padding: 7px; 
    padding-left: 8px;
    padding-right: 8px;
    position: absolute;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.correo {
    background-color: #1877F2;
    padding: 7px; 
    position: absolute;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.comentario{
    background-color: #1877F2;
    padding: 7.2px;
    padding-top: 56px;
    padding-bottom: 56px;
    position: absolute;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.megafono{
    background-color: #1877F2;
    padding: 7px;
    padding-top: 8.6px;
    padding-bottom: 8.5px;
    position: absolute;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.centrar{
    text-align: center;
}
#nombre, #correo{
    border: none;
    width: 250px;
    height: 30px;
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 28px;
    padding-left: 10px;
}
#miSelect {
    width: 278px; 
    height: 33px; 
    font-size: 16px;
    color: rgb(100, 99, 99);
    margin-bottom: 5px;
    padding-left: 32px;
  }
#comentario{
    width: 250px;
    margin-left: 28px;
    padding-left: 9px;
    padding-top: 5px;
}
.imagen {
    margin-right: 21px;
}
.lineap{
    height: 7px;
    margin: 0;
    padding: 0;
}
.mandar{
    margin-bottom: 10px;
}
.redes {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 10px;
    padding-top: 10px;
    transition: .2s;
}
.wpp,
.ig,
.fb,
.tk,
.tw {
    color: #797979;
}
.redes a:hover .wpp {
    transform: translateY(-3px) scale(1.2);
    color: #25D366;
}
.redes a:hover .ig {
    transform: translateY(-3px) scale(1.2);
    color: #E4405F;
}
.redes a:hover .tw {
    transform: translateY(-3px) scale(1.2);
    color: #1DA1F2;
}
.redes a:hover .fb {
    transform: translateY(-3px) scale(1.2);
    color: #1877F2;
}
.redes a:hover .tk {
    transform: translateY(-3px) scale(1.2);
    color: #000;
}
.fila {
    margin-left: 15px;
    margin-right: 0px;
}
.tamaños {
    font-size: 45px;
    margin-left: 50px;
}
.titulo {
    text-align: center;
    font-family: 'Pacifico', cursive;
    margin-top: 10px;
}
.letra {
    font-family: 'Nanum Gothic', sans-serif;
}
input:focus, textarea:focus {
    outline: none; 
}

.bajar{
    margin-bottom: 25px;
}

/*RECOMENDACIONES*/
#recomendaciones{
    text-align: center;
}

 /* FOOTER */
 footer {
    background-color: #1E4BAF;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

footer p {
    margin: 10px 0;
}
