header h1{
    text-align: center;
}
main section h4{
    text-align: center;
}
input{
    border: 1px solid black;
}
button{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}
form{
    margin: 30px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(245, 226, 221);
}