.textoP {
    font-size: 24px;
    line-height: 32px;

}
.bajar{
    padding-top: 30px;
    padding-left: 10px;
}

.texto{
    padding-top: 50px;
}
a{
    text-decoration: none;
    color: #333;
}
.links {
    margin-top: 49px;
    
}
.links a.btn-link.activo {
    border-left: 4px solid #004eb3;
    opacity: 1;
}
.links a.btn-link {
    font-weight: 400;
    display: block;
    font-family: "Raleway-Bold",sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #333;
    opacity: .5;
    border-left: 4px solid transparent;
    padding: 7px 27px;
    margin-bottom: 27px;
    text-decoration: none;

}

.img-fluid{
    vertical-align: middle;
    max-width: 100%;
}

 /* footer */
 footer {
    background-color: #1E4BAF;
    color: white;
    text-align: center;
    padding: 18px 0;
    width: 100%;
}

footer p {
    margin: 10px 0;
}
