.container{
    width: 100%;
    padding-left: .75rem;
    padding-right: .75rem;
    margin-right: auto;
    margin-left: auto;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.presentacio.llistat .item {
    min-height: 535px;
}
.presentacio.items-2 .item {
    position: relative;
    min-height: 660px;
}
.presentacio.n-items .item .info {
    position: relative;
    align-items: flex-start;
    padding-top: 80px;
    padding-bottom: 80px;
}
.presentacio.fons .item .info {
    width: calc(100% - 25px);
}
.presentacio.items-2 .item .info {
    position: absolute;
    min-height: 100%;
    width: 100%;
    left: 12px;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 3;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}


div {
    display: block;
}
.presentacio.items-2.fons.n-items.llistat.no-bg .item .info .left .left_ {
    padding-top: 0!important;
}
.presentacio.fons .item .info .left .left_ {
    padding-top: 0;
    padding-right: 55px;
}

.presentacio.items-2 .item .img {
    position: absolute;
    right: -90px;
    top: 0;
    z-index: 0;
    width: 72%;
    height: calc(100% + 0px);
    background-color: #cfe1ff;
}